body {
    background-color: rgb(244, 229, 229)
}
.weatherApp {
  background: white;
  max-width: 500px;
  margin: 30px;
  box-shadow: 0 30px 50px rgba(169, 163, 183, 0.08);
  border-radius: 16px;
  padding: 30px;
}
