body {
  background-color: rgb(244, 229, 229);
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}
.weatherApp {
  background: white;
  max-width: 500px;
  margin: 30px;
  box-shadow: 0 30px 50px rgba(169, 163, 183, 0.08);
  border-radius: 16px;
  padding: 30px;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  color: dimgrey;
  opacity: 50%;
}
footer {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
}

a {
  list-style: none;
}

.search-form-input {
  background-color: rgb(244, 229, 229);
  border: none;
  border-radius: 6px;
  width: 60%;
  padding: 15px;
}

.search